<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Codeboard Online IDE</title>

    <link rel="stylesheet" href="css/style.css" />
</head>
<body>

    <div class="header"> Codeboard Online IDE </div>
    <div class="control-panel">
        Select Language:
        &nbsp; &nbsp;
        <select id="languages" class="languages" onchange="changeLanguage()">
            <option value="gcc"> C++ </option>
            <option value="java"> Java </option>
            <option value="python3"> python3 </option>
        </select>
    </div>
    <div class="editor" id="editor"></div>

    <div class="filename"> 
        请输入文件名：<input type="text" id="filename" > </div>
    </div>
    <div class="button-container">
        <button class="btn" onclick="executeCode()"> Run </button>
    </div>

    <div class="output"></div>
    

    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/lib/ace.js"></script>
    <script src="js/lib/theme-monokai.js"></script>
    <script src="js/ide.js"></script>

</body>
</html>